/** @format */
/* Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}

body {
  display: grid;
  grid-template-columns: 40% 60%;
  font-family: "Times New Roman", serif;
}

.presentation-first-part {
  display: flex;
  flex-direction: column;
  color: #eee;
  align-items: center;
  justify-content: center;
}

.presentation-first-part * {
  border: none;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  font-size: 4vw;
  max-width: 97%;
  margin: 10px;
  text-align: center;
  hyphens: auto;
}

.occupation{
  font-size: 3vw;
  font-style: italic;
  max-width: 95%;
  align-items: center;text-align: center;
}

* {
  border: 1px solid skyblue;
}

.presentation-first-part {
  background: #004e12;
  padding: 15px;
}

img {
  width: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.presentation-second-part {
  color: #fff;
}

.profil {
  background: silver;
}

.interests {
  background: darkred;
}

.languages {
  background: darkgray;
}

.habilities {
  background: darkblue;
}
