/** @format */
/* Modern CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
	color: inherit;
	background: none;
	border: none;
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: sans-serif;
	background-color: #fff;
	color: #000;
}

html,
body {
	width: 700px;
	height: 990px;
	overflow: hidden; /* ou scroll/auto */
}

body {
	display: grid;
	grid-template-columns: 40% 60%;
	color: #474747;
}

.presentation-first-part {
	display: flex;
	flex-direction: column;
	color: #eee;
	align-items: center;
	justify-content: center;
}

.presentation-first-part * {
	border: none;
}

.name {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	letter-spacing: 2px;
	font-size: 1.5em;
	margin-block: 10px;
	text-align: center;
	hyphens: auto;
}

.occupation {
	font-size: 5vw;
	letter-spacing: 5px;
	opacity: 0.8;
	font-style: italic;
	max-width: 95%;
	align-items: center;
	text-align: center;
}
/*
* {
  border: 1px solid skyblue;
}*/

.presentation-first-part {
	background: #004e12;
	padding: 15px;
}

img {
	width: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.presentation-second-part {
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.title {
}

.profil,
.interests,
.languages,
.habilities {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.title {
	padding-block: 5px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.profil-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

svg {
	height: 2em;
}

.profil * {
	border: none;
}

.presentation-second-part {
	border: none;
}
.left-column {
	border: none;
}

.profil-info {
	margin: 10px;
}

.language-label, .hability-label{
	background: silver;
	border-radius: 5px;
	padding-inline: 10px;
}

